<%- include('./partials/header.ejs')%>
  
   <div class="Container">
      <div class="Box">
        <h1 class="head">School Database System</h1>
        <p class="mt-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis assumenda nihil id impedit sunt magnam asperiores minus? Exercitationem, libero non minus sint expedita, dolorum saepe hic adipisci architecto ut ea natus harum beatae laudantium illo veritatis nesciunt consequatur perspiciatis. Voluptas, illum exercitationem temporibus iusto nesciunt veniam porro modi ad ratione enim voluptates quo. Veniam, ipsa! Vitae culpa totam laboriosam aspernatur non! Cum quos aliquam maiores est placeat id reprehenderit laboriosam, aspernatur necessitatibus ducimus magnam quibusdam sequi ratione, fugit iusto iste ipsa provident quidem corporis porro fugiat consequatur possimus debitis fuga. Sit nihil nemo incidunt quod sapiente id perferendis optio placeat.</p>
        <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores doloremque repudiandae eos sunt ad ratione quam dolorum animi, aperiam expedita reiciendis assumenda! Praesentium, facere eos maxime modi, officia, ea exercitationem repellendus a minus corrupti atque. Nihil id maxime vero assumenda vitae cupiditate reiciendis sed fuga libero! Neque delectus placeat esse blanditiis dolore, consequuntur ea molestiae sint illum eveniet porro laudantium nam odio, vero tempore quasi temporibus. Minima ducimus itaque fugiat dolore similique, perspiciatis possimus nobis aliquid tempore eveniet accusantium, ea fugit, magni impedit. Perferendis architecto, libero alias modi asperiores nostrum, fugiat cumque quasi natus id fugit? Fuga maxime nobis nostrum.</p>
      </div>
      <div class="Box">
         <img src="/img/pic1.jpg" alt="">
      </div>
   </div>

<%- include('./partials/footer.ejs')%>